.vscode/
.idea/

**/.DS_Store

node_modules/

.git/
.gitignore
.dockerignore

.env*

Procfile

**/*.md

# The database is decompressed at startup. Ignore any databases that have
# already been extracted.
database/*.db

# libmorpheus, installed by `heroku_build.ts` (Heroku build).
vendor/
heroku_build.ts
scripts/heroku_release.ts
